.App {
  text-align: center;
  margin-top: 3rem;
}

.mainContainer{
  margin-top: 4rem;
}

.manageTitles h3{
  display: inline-block;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}

.listTitles h4{
  display: inline-block;
  margin-right: 3rem;
}

.col-md-4 .Playing:focus{
  color: white;
  background-color: rgb(61, 211, 61);
}

.col-md-4 .Playing:active{
  color: white;
  background-color: rgb(61, 211, 61);
}

.col-md-4 .Not-playing:focus{
  color: white;
  background-color: rgb(214, 30, 39);
}

.col-md-4 .Not-playing:active{
  color: white;
  background-color: rgb(214, 30, 39);
}

.col-md-4 .Undesided:focus{
  color: white;
  background-color: rgb(219, 206, 17);
}

.col-md-4 .Undesided:active{
  color: white;
  background-color: rgb(219, 206, 17);
}
